[submodule "vendor/ethan-wspace"]
	path = vendor/ethan-wspace
	url = git://github.com/glasserc/ethan-wspace.git
[submodule "vendor/flymake-easy"]
	path = vendor/flymake-easy
	url = git://github.com/purcell/flymake-easy.git
[submodule "vendor/flymake-python-pyflakes"]
	path = vendor/flymake-python-pyflakes
	url = git://github.com/purcell/flymake-python-pyflakes.git
[submodule "vendor/emacs-flymake"]
	path = vendor/emacs-flymake
	url = git://github.com/illusori/emacs-flymake.git
[submodule "vendor/yaml-mode"]
	path = vendor/yaml-mode
	url = git@github.com:yoshiki/yaml-mode.git
[submodule "vendor/web-mode"]
	path = vendor/web-mode
	url = git@github.com:fxbois/web-mode.git
